@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@font-face {
  font-family: "robotoregular";
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff2") format("woff2"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
@media screen and (min-width: 1024px) {
  .header {
    height: 6rem;
  }
}
.header__logo {
  margin: 0 70px 0 65px;
}
.header__logo img {
  width: 11rem;
}
@media screen and (min-width: 1024px) {
  .header__logo img {
    width: 14rem;
  }
}
.header__backmenu {
  position: absolute;
  left: 20px;
}
@media screen and (min-width: 768px) {
  .header__backmenu {
    left: 40px;
  }
}
.header__backmenu i {
  color: black;
  font-size: 1.4rem;
}

.footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #353535;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 100px;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    height: 50px;
    flex-direction: row;
  }
}
.footer__logo {
  margin: 25px 25px 10px 25px;
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    margin: 0 25px;
  }
}
.footer__logo img {
  filter: invert(1);
  width: 7rem;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0px 25px;
}
@media screen and (min-width: 768px) {
  .footer__menu {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .footer__menu {
    align-items: center;
    height: auto;
  }
}
.footer__menu--line i {
  margin: 0 10px 0 0;
}
.footer__menu--line a {
  text-decoration: none;
  color: #fff;
}
.footer__menu--line_light i {
  margin: 0 10px 0 0;
}
.footer__menu--line_light a {
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}

body {
  margin: auto;
  font-family: "robotoregular", sans-serif;
}

@media screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  box-shadow: 0px -2px 3px #d0d0d0;
}
@media screen and (min-width: 1024px) {
  .location {
    position: absolute;
    right: 80px;
    top: 20px;
    box-shadow: none;
    border-radius: 10px;
  }
  .location i {
    margin: 0 0 0 40px;
  }
}
.location__text {
  margin: 0 40px 0 15px;
}

.explore_restaurants {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
@media screen and (min-width: 1024px) {
  .explore_restaurants {
    width: 60%;
    border-radius: 40px;
    box-shadow: 3px 3px 6px #c6c6c6;
  }
}
.explore_restaurants__h1 {
  font-size: 1.4rem;
  width: 233px;
  margin: 40px 0 0 0;
}
.explore_restaurants__text {
  font-size: 1.2rem;
  font-weight: 300;
}
.explore_restaurants__button {
  margin: 30px 0 50px 0;
  padding: 16px 20px;
  color: #fff;
  border: none;
  border-radius: 40px;
  background: linear-gradient(to top left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  box-shadow: 3px 3px 6px #c6c6c6;
  font-size: 1rem;
  cursor: pointer;
}

.choose_restaurants {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 60px 20px;
}
@media screen and (min-width: 768px) {
  .choose_restaurants {
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: space-evenly;
    padding: 70px 40px;
  }
}
@media screen and (min-width: 1024px) {
  .choose_restaurants {
    flex-direction: row;
    width: 100%;
    padding: 70px 0;
  }
}
.choose_restaurants__heading {
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .choose_restaurants__heading {
    position: absolute;
    top: 400px;
    left: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .choose_restaurants__heading {
    top: 390px;
    left: auto;
  }
}
.choose_restaurants__contains {
  display: flex;
  align-items: center;
}
.choose_restaurants__contains--number {
  background: #9356dc;
  color: #fff;
  height: 15px;
  width: 15px;
  padding: 5px 2px 5px 8px;
  border-radius: 40px;
  position: absolute;
}
.choose_restaurants__contains--number p {
  margin: 0;
}
.choose_restaurants__contains--text {
  display: flex;
  align-items: center;
  padding: 10px 40px 10px 12px;
  background: #f6f6f6;
  width: 100%;
  border-radius: 20px;
  box-shadow: 6px 6px 13px #ededed;
  margin: 10px 0 10px 14px;
}
@media screen and (min-width: 768px) {
  .choose_restaurants__contains--text {
    padding: 10px 62px 10px 12px;
  }
}
.choose_restaurants__contains--text i {
  margin: 0 20px;
  color: #7f7f7f;
  font-size: 1.2rem;
}
.choose_restaurants__contains--text p {
  font-size: 1rem;
}
.choose_restaurants__contains--text_pink {
  display: flex;
  align-items: center;
  padding: 10px 40px 10px 12px;
  background: #f5eeff;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 13px #ededed;
  margin: 10px 0 10px 14px;
}
@media screen and (min-width: 768px) {
  .choose_restaurants__contains--text_pink {
    padding: 10px 62px 10px 12px;
  }
}
.choose_restaurants__contains--text_pink i {
  margin: 0 20px;
  color: #9356dc;
}
.choose_restaurants__contains--text_pink p {
  font-size: 1rem;
}
.choose_restaurants--number {
  background: #9356dc;
  color: #fff;
  height: 20px;
  width: 20px;
  padding: 5px 0px 5px 10px;
  border-radius: 40px;
  position: absolute;
}
.choose_restaurants--number p {
  margin: 0;
}
.choose_restaurants--text {
  display: flex;
  align-items: center;
  padding: 12px;
  background: #f6f6f6;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 13px #ededed;
  margin: 10px 0 10px 14px;
}
.choose_restaurants--text i {
  margin: 0 20px;
  color: #7f7f7f;
  font-size: 1.2rem;
}
.choose_restaurants--text p {
  font-size: 1.1rem;
}
.choose_restaurants--text_pink {
  display: flex;
  align-items: center;
  padding: 12px;
  background: #f5eeff;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 13px #ededed;
  margin: 10px 0 10px 14px;
}
.choose_restaurants--text_pink i {
  margin: 0 20px;
  color: #9356dc;
}
.choose_restaurants--text_pink p {
  font-size: 1.1rem;
}

.contains_restaurants {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 60px 20px;
  background: #f6f6f6;
}
@media screen and (min-width: 768px) {
  .contains_restaurants {
    padding: 80px 65px;
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .contains_restaurants {
    margin: 0 0 40px 0;
    padding: 80px 100px 50px 100px;
    width: 66%;
    border-radius: 40px;
  }
}
@media screen and (min-width: 768px) {
  .contains_restaurants__h1 {
    position: absolute;
    top: 720px;
    left: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .contains_restaurants__h1 {
    top: 620px;
    left: auto;
  }
}
.contains_restaurants a {
  text-decoration: none;
}

.restaurants {
  width: 100%;
  margin: 10px 0;
}
@media screen and (min-width: 768px) {
  .restaurants {
    width: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants {
    margin: 18px 18px;
  }
}

.contains_cards_restaurants {
  display: flex;
}
.contains_cards_restaurants__logo {
  display: inline-block;
}

.restaurants_picture {
  height: 170px;
  display: flex;
  flex-direction: column;
}
.restaurants_picture img {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurants_picture__new {
  position: absolute;
  right: 20px;
  border-radius: 5px;
  margin: 20px;
  background: #9ae3d1;
}
@media screen and (min-width: 768px) {
  .restaurants_picture__new {
    position: relative;
    width: 82px;
    margin: 0;
    left: 200px;
    bottom: 155px;
  }
}
.restaurants_picture__new h3 {
  color: #008866;
  font-size: 0.8rem;
  margin: 10px 15px;
}

.restaurants_picture_description {
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 0 0 20px 20px;
  color: black;
  box-shadow: 2px 2px 20px #dedede;
  justify-content: space-between;
  padding: 20px 25px 20px 15px;
}
.restaurants_picture_description__heading h1 {
  margin: 0 0 5px 0;
  font-size: 1.1rem;
}
.restaurants_picture_description__heading span {
  font-size: 1.1rem;
  font-weight: 300;
}
.restaurants_picture_description__logo button {
  border: none;
  background: #fff;
  cursor: pointer;
}
.restaurants_picture_description__logo .far {
  font-size: 1.4rem;
}

.contain_menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contain_menu__picture {
  position: absolute;
  top: 60px;
}
@media screen and (min-width: 1024px) {
  .contain_menu__picture {
    top: 90px;
  }
}
.contain_menu img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .contain_menu img {
    height: 350px;
  }
}

.menu {
  background: #f6f6f6;
  position: relative;
  display: flex;
  margin: 200px 0 0 0;
  border-radius: 40px 40px 0 0;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .menu {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: initial;
    padding: 60px 0 100px 0;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    margin: 280px 0 0 0;
  }
}
.menu__heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .menu__heading {
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.menu__heading--h1 {
  font-family: "Shrikhand", "cursive";
}
.menu__heading--heartlogo button {
  border: none;
  background: #f6f6f6;
  cursor: pointer;
}
.menu__heading--heartlogo i {
  font-size: 1.4rem;
}
.menu__card {
  margin: 0 15px;
}
.menu__card--h1 {
  border-bottom: 3px solid #99e2d0;
  width: 40px;
}
.menu__card--h1 h1 {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 6px 0;
}
.menu__dishes a {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.menu__command {
  display: flex;
}
@media screen and (min-width: 768px) {
  .menu__command {
    position: absolute;
    bottom: -20px;
  }
}
.menu__command--btn {
  margin: 50px auto;
  padding: 16px 50px;
  color: #fff;
  border: none;
  border-radius: 40px;
  background: linear-gradient(to top left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  box-shadow: 3px 3px 6px #c6c6c6;
  font-size: 1rem;
  cursor: pointer;
}

.dishes {
  background-color: #fff;
  width: 100%;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.dishes:hover {
  padding-right: 70px;
}
.dishes:hover .dishes__checklogo {
  opacity: 1;
  transform: translate(-50px);
}
.dishes:hover .fa-check-circle {
  transform: rotate(360deg);
}
.dishes__name {
  margin: 0 0 5px 0;
}
.dishes__name h1 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
}
.dishes__seasoning {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dishes__seasoning span {
  font-size: 0.9rem;
  font-weight: 300;
}
.dishes__seasoning p {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  text-overflow: ellipsis;
}

.dishes__checklogo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 20px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: -18px;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
.dishes__checklogo .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
