@font-face {
  font-family: "robotoregular";
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff2") format("woff2"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
.header__logo img {
  width: 11rem;
}

.footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #353535;
  font-size: 1rem;
}
.footer__logo {
  margin: 25px 25px 10px 25px;
}
.footer__logo img {
  filter: invert(1);
  width: 7rem;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0px 25px;
}
.footer__menu--line i {
  margin: 0 10px 0 0;
}
.footer__menu--line a {
  text-decoration: none;
  color: #fff;
}

body {
  margin: auto;
  font-family: "robotoregular", sans-serif;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  box-shadow: 0px -2px 3px #d0d0d0;
}
@media screen and (min-width: 1280px) {
  .location {
    position: absolute;
  }
}
.location__text {
  margin: 0 40px 0 15px;
}

.explore_restaurants {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.explore_restaurants__h1 {
  font-size: 1.4rem;
  width: 233px;
  margin: 40px 0 0 0;
}
.explore_restaurants__text {
  font-size: 1.2rem;
  font-weight: 300;
}
.explore_restaurants__button {
  margin: 30px 0 50px 0;
  padding: 20px;
  color: #fff;
  border: none;
  border-radius: 40px;
  background: linear-gradient(to top left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  font-size: 1rem;
}

.choose_restaurants {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 60px 20px;
}
.choose_restaurants__heading {
  font-size: 1.6rem;
}
.choose_restaurants__contains {
  display: flex;
  align-items: center;
}
.choose_restaurants__contains--number {
  background: #9356dc;
  color: #fff;
  height: 20px;
  width: 20px;
  padding: 5px 0px 5px 10px;
  border-radius: 40px;
  position: absolute;
}
.choose_restaurants__contains--number p {
  margin: 0;
}
.choose_restaurants__contains--text {
  display: flex;
  align-items: center;
  padding: 12px;
  background: #f6f6f6;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 13px #ededed;
  margin: 10px 0 10px 14px;
}
.choose_restaurants__contains--text i {
  margin: 0 20px;
  color: #7f7f7f;
  font-size: 1.2rem;
}
.choose_restaurants__contains--text p {
  font-size: 1.1rem;
}
.choose_restaurants__contains--text_pink {
  display: flex;
  align-items: center;
  padding: 12px;
  background: #f5eeff;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 13px #ededed;
  margin: 10px 0 10px 14px;
}
.choose_restaurants__contains--text_pink i {
  margin: 0 20px;
  color: #9356dc;
}
.choose_restaurants__contains--text_pink p {
  font-size: 1.1rem;
}
.choose_restaurants--number {
  background: #9356dc;
  color: #fff;
  height: 20px;
  width: 20px;
  padding: 5px 0px 5px 10px;
  border-radius: 40px;
  position: absolute;
}
.choose_restaurants--number p {
  margin: 0;
}
.choose_restaurants--text {
  display: flex;
  align-items: center;
  padding: 12px;
  background: #f6f6f6;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 13px #ededed;
  margin: 10px 0 10px 14px;
}
.choose_restaurants--text i {
  margin: 0 20px;
  color: #7f7f7f;
  font-size: 1.2rem;
}
.choose_restaurants--text p {
  font-size: 1.1rem;
}
.choose_restaurants--text_pink {
  display: flex;
  align-items: center;
  padding: 12px;
  background: #f5eeff;
  width: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 13px #ededed;
  margin: 10px 0 10px 14px;
}
.choose_restaurants--text_pink i {
  margin: 0 20px;
  color: #9356dc;
}
.choose_restaurants--text_pink p {
  font-size: 1.1rem;
}

.contains_restaurants {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 60px 20px;
  background: #f6f6f6;
}
.contains_restaurants a {
  text-decoration: none;
}

.restaurants {
  width: 100%;
  margin: 10px 0;
}

.restaurants_picture {
  height: 170px;
  display: flex;
  flex-direction: column;
}
.restaurants_picture img {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurants_picture__new {
  position: absolute;
  right: 20px;
  border-radius: 5px;
  margin: 20px;
  background: #9ae3d1;
}
.restaurants_picture__new h3 {
  color: #008866;
  font-size: 0.8rem;
  margin: 10px 15px;
}

.restaurants_picture_description {
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 0 0 20px 20px;
  color: black;
  box-shadow: 2px 2px 20px #dedede;
  justify-content: space-between;
  padding: 20px 25px 20px 15px;
}
.restaurants_picture_description__heading h1 {
  margin: 0 0 5px 0;
  font-size: 1.1rem;
}
.restaurants_picture_description__heading span {
  font-size: 1.2rem;
  font-weight: 300;
}
.restaurants_picture_description__logo button {
  border: none;
  background: #fff;
  cursor: pointer;
}
.restaurants_picture_description__logo i {
  font-size: 1.4rem;
}

/*# sourceMappingURL=style.css.map */
