.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 4rem;
  @include desktop {
    height: 6rem;
  }
  &__logo {
    margin: 0 70px 0 65px;
    img {
      width: 11rem;
      @include desktop {
        width: 14rem;
      }
    }
  }

  &__backmenu {
    position: absolute;
    left: 20px;
    @include tablet {
      left: 40px;
    }
    i {
      color: black;
      font-size: 1.4rem;
    }
  }
}
