body {
  margin: auto;
  font-family: "robotoregular", sans-serif;
}

.main0 {
  position: absolute;
  width: 100%;
  margin: auto;
  animation: disparition 0.01s;
  animation-fill-mode: both;
}

.section_loader1 {
  @include loader1;
}

.main1 {
  animation: apparition 3s;
}

.main2 {
  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  box-shadow: 0px -2px 3px #d0d0d0;
  @include desktop {
    position: absolute;
    right: 80px;
    top: 20px;
    box-shadow: none;
    border-radius: 10px;
    i {
      margin: 0 0 0 40px;
    }
  }

  &__text {
    margin: 0 40px 0 15px;
  }
}

.explore_restaurants {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-grey;
  @include desktop {
    width: 60%;
    border-radius: 40px;
    box-shadow: 3px 3px 6px #c6c6c6;
  }

  &__h1 {
    font-size: 1.4rem;
    width: 233px;
    margin: 40px 0 0 0;
  }

  &__text {
    font-size: 1.2rem;
    font-weight: 300;
  }

  &__button {
    margin: 30px 0 50px 0;
    padding: 16px 20px;
    color: #fff;
    border: none;
    border-radius: 40px;
    background: $linear-gradient;
    box-shadow: 3px 3px 6px #c6c6c6;
    font-size: 1rem;
    cursor: pointer;
  }
}

.choose_restaurants {
  @include choose_restaurants;
}

.contains_restaurants {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 60px 20px;
  background: #f6f6f6;
  @include tablet {
    padding: 80px 65px;
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include desktop {
    margin: 0 0 40px 0;
    padding: 80px 100px 50px 100px;
    width: 66%;
    border-radius: 40px;
  }

  &__h1 {
    @include tablet {
      position: absolute;
      top: 720px;
      left: 40px;
    }
    @include desktop {
      top: 620px;
      left: auto;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.restaurants {
  width: 100%;
  margin: 10px 0;
  @include tablet {
    width: 300px;
  }
  @include desktop {
    margin: 18px 18px;
  }
}

.contains_cards_restaurants {
  display: flex;
  &__logo {
    display: inline-block;
  }
}

.restaurants_picture {
  height: 170px;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 170px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }

  &__new {
    position: absolute;
    right: 20px;
    border-radius: 5px;
    margin: 20px;
    background: #9ae3d1;
    @include tablet {
      position: relative;
      width: 82px;
      margin: 0;
      left: 200px;
      bottom: 155px;
    }

    h3 {
      color: #008866;
      font-size: 0.8rem;
      margin: 10px 15px;
    }
  }
}

.restaurants_picture_description {
  @include desc_cards_restaurants;
}
