@font-face {
  font-family: "robotoregular";
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Regular-webfont.woff2") format("woff2"),
    url("Roboto-Regular-webfont.woff") format("woff"),
    url("Roboto-Regular-webfont.ttf") format("truetype"),
    url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin tablet {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin choose_restaurants {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 60px 20px;
  @include desktop {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 70px 0;
  }

  &__heading {
    font-size: 1.6rem;
    @include desktop {
      position: absolute;
      top: 390px;
    }
  }

  &__contains {
    display: flex;
    align-items: center;

    &--number {
      background: $color-primary;
      color: #fff;
      height: 15px;
      width: 15px;
      padding: 5px 2px 5px 8px;
      border-radius: 40px;
      position: absolute;

      p {
        margin: 0;
      }
    }

    &--text {
      display: flex;
      align-items: center;
      padding: 10px 12px;
      background: #f6f6f6;
      width: 100%;
      border-radius: 20px;
      box-shadow: 6px 6px 13px #ededed;
      margin: 10px 0 10px 14px;

      i {
        margin: 0 20px;
        color: #7f7f7f;
        font-size: 1.2rem;
      }

      p {
        font-size: 1rem;
      }
    }

    &--text_pink {
      display: flex;
      align-items: center;
      padding: 12px;
      background: #f5eeff;
      width: 100%;
      border-radius: 20px;
      box-shadow: 5px 5px 13px #ededed;
      margin: 10px 0 10px 14px;

      i {
        margin: 0 20px;
        color: $color-primary;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  &--number {
    background: $color-primary;
    color: #fff;
    height: 20px;
    width: 20px;
    padding: 5px 0px 5px 10px;
    border-radius: 40px;
    position: absolute;

    p {
      margin: 0;
    }
  }

  &--text {
    display: flex;
    align-items: center;
    padding: 12px;
    background: #f6f6f6;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 13px #ededed;
    margin: 10px 0 10px 14px;

    i {
      margin: 0 20px;
      color: #7f7f7f;
      font-size: 1.2rem;
    }

    p {
      font-size: 1.1rem;
    }
  }

  &--text_pink {
    display: flex;
    align-items: center;
    padding: 12px;
    background: #f5eeff;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 13px #ededed;
    margin: 10px 0 10px 14px;

    i {
      margin: 0 20px;
      color: $color-primary;
    }

    p {
      font-size: 1.1rem;
    }
  }
}

@mixin desc_cards_restaurants {
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 0 0 20px 20px;
  color: black;
  box-shadow: 2px 2px 20px #dedede;
  justify-content: space-between;
  padding: 20px 25px 20px 15px;

  &__heading {
    h1 {
      margin: 0 0 5px 0;
      font-size: 1.1rem;
    }

    span {
      font-size: 1.1rem;
      font-weight: 300;
    }
  }

  &__logo {
    button {
      border: none;
      background: #fff;
      cursor: pointer;
    }

    i {
      font-size: 1.4rem;
    }
  }
}
