@font-face {
  font-family: "robotoregular";
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Regular-webfont.woff2") format("woff2"),
    url("Roboto-Regular-webfont.woff") format("woff"),
    url("Roboto-Regular-webfont.ttf") format("truetype"),
    url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin tablet {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin loader1 {
  position: absolute;
  width: 100%;
  margin: auto;
  animation: disparition 0.01s;
  animation-fill-mode: both;
  height: 677px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  @include tablet {
    justify-content: center;
  }
  &__logo {
    img {
      width: 14rem;
    }
  }

  &__quart_circle1 {
    border-radius: 50px;
    border: 6px solid transparent;
    position: relative;
    animation: spin 1s linear infinite;

    &::after {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      bottom: -6px;
      right: -6px;
      border-radius: 50px;
      border: 6px solid transparent;
      border-top: 6px solid $color-primary;
      animation: spin 1s linear infinite;
    }
  }

  .loader1 {
    width: 50px;
    height: 50px;
    position: relative;
    @include tablet {
      margin: 50px;
    }
  }

  &__quart_circle2 {
    border-radius: 50px;
    border: 5px solid transparent;
    position: relative;
    animation: spin 1.5s linear infinite;

    &::after {
      content: "";
      position: absolute;
      top: -5px;
      left: -5px;
      bottom: -5px;
      right: -5px;
      border-radius: 50px;
      border: 5px solid transparent;
      border-top: 5px solid $color-secondary;
      animation: spin 1.5s linear infinite;
    }
  }

  .loader2 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  &__quart_circle3 {
    border-radius: 50px;
    border: 4px solid transparent;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -4px;
      left: -4px;
      bottom: -4px;
      right: -4px;
      border-radius: 50px;
      border: 4px solid transparent;
      border-top: 4px solid $color-tertiary;
      animation: spin 1.5s linear infinite;
    }
  }

  .loader3 {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

@mixin choose_restaurants {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 60px 20px;
  @include tablet {
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: space-evenly;
    padding: 70px 40px;
  }
  @include desktop {
    flex-direction: row;
    width: 100%;
    padding: 70px 0;
  }

  &__heading {
    font-size: 1.6rem;
    @include tablet {
      position: absolute;
      top: 400px;
      left: 40px;
    }
    @include desktop {
      top: 390px;
      left: auto;
    }
  }

  &__contains {
    display: flex;
    align-items: center;

    &--number {
      background: $color-primary;
      color: #fff;
      height: 15px;
      width: 15px;
      padding: 5px 2px 5px 8px;
      border-radius: 40px;
      position: absolute;

      p {
        margin: 0;
      }
    }

    &--text {
      display: flex;
      align-items: center;
      padding: 10px 40px 10px 12px;
      background: #f6f6f6;
      width: 100%;
      border-radius: 20px;
      box-shadow: 6px 6px 13px #ededed;
      margin: 10px 0 10px 14px;
      @include tablet {
        padding: 10px 62px 10px 12px;
      }

      i {
        margin: 0 20px;
        color: #7f7f7f;
        font-size: 1.2rem;
      }

      p {
        font-size: 1rem;
      }
    }

    &--text_pink {
      display: flex;
      align-items: center;
      padding: 10px 40px 10px 12px;
      background: #f5eeff;
      width: 100%;
      border-radius: 20px;
      box-shadow: 5px 5px 13px #ededed;
      margin: 10px 0 10px 14px;
      @include tablet {
        padding: 10px 62px 10px 12px;
      }

      i {
        margin: 0 20px;
        color: $color-primary;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  &--number {
    background: $color-primary;
    color: #fff;
    height: 20px;
    width: 20px;
    padding: 5px 0px 5px 10px;
    border-radius: 40px;
    position: absolute;

    p {
      margin: 0;
    }
  }

  &--text {
    display: flex;
    align-items: center;
    padding: 12px;
    background: #f6f6f6;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 13px #ededed;
    margin: 10px 0 10px 14px;

    i {
      margin: 0 20px;
      color: #7f7f7f;
      font-size: 1.2rem;
    }

    p {
      font-size: 1.1rem;
    }
  }

  &--text_pink {
    display: flex;
    align-items: center;
    padding: 12px;
    background: #f5eeff;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 13px #ededed;
    margin: 10px 0 10px 14px;

    i {
      margin: 0 20px;
      color: $color-primary;
    }

    p {
      font-size: 1.1rem;
    }
  }
}

@mixin contains_cards_restaurants_index {
  position: relative;
  &__logo {
    position: absolute;
    right: 20px;
    top: 220px;
    @include desktop {
      right: 40px;
    }
    .heart {
      cursor: pointer;
      position: relative;
      border: none;
      width: 22px;
      height: 20px;
      background: linear-gradient(
        to top left,
        #9356dc,
        #b35cdc,
        #cf64dc,
        #e86edb,
        #ff79da
      );
      clip-path: polygon(
        51% 105%,
        63% 90%,
        74% 79%,
        84% 68%,
        97% 53%,
        100% 40%,
        100% 25%,
        93% 10%,
        85% 4%,
        70% 2%,
        53% 10%,
        51% 12%,
        40% 5%,
        26% 1%,
        9% 10%,
        -4% 37%,
        9% 58%,
        18% 69%,
        30% 81%,
        40% 93%
      );
    }

    .far {
      transition: all 0.3s linear 0s;
      height: 100%;
      background: #f6f6f6;
      font-size: 1.39rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    .heart:focus .far {
      height: 0;
    }
  }
}

@mixin desc_cards_restaurants {
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 0 0 20px 20px;
  color: black;
  box-shadow: 2px 2px 20px #dedede;
  padding: 20px 25px 20px 15px;
  position: relative;

  &__heading {
    h1 {
      margin: 0 0 5px 0;
      font-size: 1.1rem;
    }

    span {
      font-size: 1.1rem;
      font-weight: 300;
    }
  }

  &__logo {
    position: absolute;
    right: 20px;
    .heart {
      cursor: pointer;
      position: relative;
      border: none;
      width: 22px;
      height: 20px;
      background: linear-gradient(
        to top left,
        #9356dc,
        #b35cdc,
        #cf64dc,
        #e86edb,
        #ff79da
      );
      clip-path: polygon(
        51% 105%,
        63% 90%,
        74% 79%,
        84% 68%,
        97% 53%,
        100% 40%,
        100% 25%,
        93% 10%,
        85% 4%,
        70% 2%,
        53% 10%,
        51% 12%,
        40% 5%,
        26% 1%,
        9% 10%,
        -4% 37%,
        9% 58%,
        18% 69%,
        30% 81%,
        40% 93%
      );
    }

    .far {
      transition: all 0.3s linear 0s;
      height: 100%;
      background: #f6f6f6;
      font-size: 1.39rem;
      position: absolute;
      top: -1px;
      left: 0;
      bottom: 0;
      right: 0;
    }
    .heart:focus .far {
      height: 0;
    }
  }
}

@mixin menu {
  background: #f6f6f6;
  position: relative;
  display: flex;
  margin: 200px 0 0 0;
  border-radius: 40px 40px 0 0;
  flex-direction: column;
  @include tablet {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: initial;
    padding: 60px 0 100px 0;
    justify-content: space-evenly;
  }
  @include desktop {
    margin: 280px 0 0 0;
  }
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include tablet {
      position: absolute;
      top: 0;
      width: 100%;
    }
    &--h1 {
      font-family: "Shrikhand", "cursive";
    }
    &--heartlogo {
      display: flex;
      align-items: center;

      .heart {
        cursor: pointer;
        position: relative;
        border: none;
        width: 22px;
        height: 20px;
        background: linear-gradient(
          to top left,
          #9356dc,
          #b35cdc,
          #cf64dc,
          #e86edb,
          #ff79da
        );
        clip-path: polygon(
          51% 105%,
          63% 90%,
          74% 79%,
          84% 68%,
          97% 53%,
          100% 40%,
          100% 25%,
          93% 10%,
          85% 4%,
          70% 2%,
          53% 10%,
          51% 12%,
          40% 5%,
          26% 1%,
          9% 10%,
          -4% 37%,
          9% 58%,
          18% 69%,
          30% 81%,
          40% 93%
        );
      }

      .far {
        transition: all 0.3s linear 0s;
        height: 100%;
        background: #f6f6f6;
        font-size: 1.39rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      .heart:focus .far {
        height: 0;
      }

      i {
        font-size: 1.4rem;
      }
    }
  }
  &__card {
    margin: 0 15px;
    &--h1 {
      border-bottom: 3px solid $color-tertiary;
      width: 40px;
      h1 {
        font-size: 1.1rem;
        font-weight: 300;
        margin: 6px 0;
      }
    }
  }

  &__dishes {
    @include tablet {
      width: 300px;
    }
    a {
      color: black;
      display: flex;
      align-items: center;
      text-decoration: none;
    }
  }

  &__command {
    display: flex;
    @include tablet {
      position: absolute;
      bottom: -20px;
    }
    &--btn {
      margin: 50px auto;
      padding: 16px 50px;
      color: #fff;
      border: none;
      border-radius: 40px;
      background: $linear-gradient;
      box-shadow: 3px 3px 6px #c6c6c6;
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        transform: scale(1.02);
        transition: transform 200ms;
        background: $linear-gradient-lighter;
        box-shadow: 3px 3px 6px #808080;
      }
    }
  }
}

@mixin dishes {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
  animation: move-cards 1s cubic-bezier(0, 0, 0, 1) forwards;
  opacity: 0;
  &:hover {
    padding-right: 70px;
  }
  &:hover .dishes__checklogo {
    opacity: 1;
    transform: translate(-50px);
  }
  &:hover .fa-check-circle {
    transform: rotate(360deg);
  }
  &__name {
    margin: 0 0 5px 0;
    h1 {
      margin: 0;
      font-size: 1.1rem;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  &__seasoning {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 0.9rem;
      font-weight: 300;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    p {
      margin: 0;
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

@mixin dishes_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-tertiary;
  width: 20px;
  height: 63px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  text-overflow: ellipsis;
  top: -18px;
  opacity: 0;
  transition: transform 330ms ease-in-out;
  & .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
  }
}
